/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #4e73df, #1cc88a); */
    background-image: url("bg.jpeg");
    background-size: cover;
}

.container {
    background: #ffffff;
    padding: 40px 35px;
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container h3 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #333;
}

.container p {
    font-size: 14px;
    margin-bottom: 25px;
    color: #777;
    
}

input,
textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    transition: 0.3s ease;
    outline: none;
}

input:focus,
textarea:focus {
    border-color: #4e73df;
    box-shadow: 0 0 8px rgba(78, 115, 223, 0.3);
}

textarea {
    resize: none;
}
.btn {
    width: 48%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    transition: 0.3s ease;
}

.btn:first-of-type {
    background-color: #4e73df;
    color: white;
}

.btn:first-of-type:hover {
    background-color: #2e59d9;
    transform: translateY(-2px);
}

.btn:last-of-type {
    background-color: #858796;
    color: white;
}

.btn:last-of-type:hover {
    background-color: #60616f;
    transform: translateY(-2px);
}

@media (max-width: 500px) {
    .container {
        padding: 30px 20px;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }
}
